<button (click)="goBack()" class="btn btn-default">Back</button>
<div class="panel-body row">
  <div class="table-responsive col-md-7">
    <table class="table table-bordered">
      <tr>
        <th>Trade Ref</th>
        <th>Time</th>
        <th>Symbol</th>
        <th>Quantity</th>
        <th>Price Quote Int.</th>
        <th>Price Quote Ext.</th>
      </tr>
      <tr *ngFor="let record of tradeRecords | async">
        <td>Trade Ref</td>
        <td>{{record.time}}</td>
        <td>{{record.symbol}}</td>
        <td>{{record.amount}}</td>
        <td>{{record.price_int}}</td>
        <td id="{{record.symbol+record.time}}">{{getQuote(record.symbol, record.time)}}</td>
      </tr>
    </table>
  </div>
  <div class="col-md-5">
    <table class="table">
      <tr>
        <th>Time</th>
        <th>Symbol</th>
        <th>Int.</th>
        <th>Ext.</th>
        <th>Actions</th>
      </tr>
      <tr *ngFor="let quote of tradeRecords | async">
        <td *ngIf="quote.price_int !== quote.price_ext && !quote.hide">{{quote.time}}</td>
        <td *ngIf="quote.price_int !== quote.price_ext && !quote.hide">{{quote.symbol}}</td>
        <td *ngIf="quote.price_int !== quote.price_ext && !quote.hide">{{quote.price_int}}</td>
        <td *ngIf="quote.price_int !== quote.price_ext && !quote.hide">{{quote.price_ext}}</td>
        <td *ngIf="quote.price_int !== quote.price_ext && !quote.hide">
          <button class="btn btn-success" (click)="correctQuote(quote.symbol, quote.time, quote.price_ext)">Correct</button>
          <button class="btn btn-danger" (click)="ignoreQuote(quote.symbol, quote.time)">Ignore</button></td>
      </tr>
    </table>
  </div>
</div>
