<div class = "grid grid-pad">
  <nav>
    <a class = "col-1-3">
      <div class = "module">
        <h4>Click to Report Error</h4>
      </div>
    </a>
    <a routerLink="/errprevention" routerLinkActive="active" class = "col-1-3">
      <div class = "module" >
        <h4>Click to run Error Prevention Algorithm</h4>
      </div>
    </a>
    <a  class = "col-1-3">
      <div class = "module">
        <h4>Click to Run Error Detection Algorithm</h4>
      </div>
    </a>
    <a  class = "col-1-3">
      <div class = "module option">
        <h4>Click to Check Trade Booking Details</h4>
      </div>
    </a>
    <a  class = "col-1-3">
      <div class = "module">
        <h4>Click to Generate P&L</h4>
      </div>
    </a>
    <a  class = "col-1-3">
      <div class = "module">
        <h4>View Issue Catcher Logs</h4>
      </div>
    </a>
  </nav>
</div>
