<div class = "grid grid-pad">
  <nav>
    <a routerLink="/trader" routerLinkActive="active" class = "col-1-3">
      <div class = "module">
        <h3>Click to Report Error</h3>
      </div>
    </a>
    <a class = "col-1-3" (click)="navigate()">
      <div class = "module" >
        <h3>Click to run Error Prevention Algorithm</h3>
      </div>
    </a>
    <a routerLink="/errdetection" routerLinkActive="active" class = "col-1-3">
      <div class = "module">
        <h3>Click to Run Error Detection Algorithm</h3>
      </div>
    </a>
    <a routerLink="/tradebooking" routerLinkActive="active" class = "col-1-3">
      <div class = "module">
        <h3>Click to Check Trade Booking Details</h3>
      </div>
    </a>
    <a  class = "col-1-3">
      <div class = "module">
        <h3>Click to Generate P&L</h3>
      </div>
    </a>
    <a routerLink="/issuecatcher" routerLinkActive="active" class = "col-1-3">
      <div class = "module">
        <h3>View Issue Catcher Logs</h3>
      </div>
    </a>
    <a  class = "col-1-1" (click)="popup.show()">
      <div class = "add">
        <h1>Add a New Trading Record</h1>
      </div>
    </a>
  </nav>
  <app-popup #popup>
    <div class="app-modal-header">
      Create New Trade
    </div>
    <div class="app-modal-body">
      <label>Time: </label>
      <input [(ngModel)]="popup.tradeTime" placeholder="YYYY-MM-DD HH:MM:SS"/>
      <label>Symbol: </label>
      <input [(ngModel)]="popup.tradeSymbol" placeholder="enter symbol"/>
      <label>Price: </label>
      <input [(ngModel)]="popup.priceInt" placeholder="enter price quote"/>
      <label>Amount: </label>
      <input [(ngModel)]="popup.tradeAmt" placeholder="enter amount"/>
    </div>
    <div class="app-modal-footer">
      <button type="button" class="btn btn-default" (click)="popup.hide()">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="popup.add()">Add</button>
    </div>
  </app-popup>
</div>
