<button class="btn btn-default btn-lg" (click)="goBack()">Back</button>
<div *ngFor="let issue of issues | async">
  <div *ngIf="issue.category === 'price'" class="cardview">
  <div class="col-md-8">
    <h2>Issue Description: {{issue.description}}</h2>
    <div class="col-lg-6 col-md-8">
      <h4>Posted by: {{issue.uid}}</h4>
    </div>
    <div class="col-lg-6 col-md-4">
      <h4>Category: {{issue.category}}</h4>
    </div>
  </div>
  <div class="col-md-4">
    <img src="https://storage.googleapis.com/centralmonitoringsystem-1a619.appspot.com/icn_rightarrow.png" class="img-responsive pull-right" (click)="navigate(issue.uid)">
  </div>
  </div>
</div>
